
# Debugging
# Eclipse
# Gradle
# IntelliJ IDEA
# OS X
# VSCode
# Windows...
**/Thumbs.db
*.iml
.DS_Store
.gradle/
.idea/
/*.iml
/*.ipr
/*.iws
/.classpath
/.gradle
/.idea
/.project
/.settings
/.vscode
/bin
/build
/config
/eclipse
/logs
/options.txt
/out
/run
/saves
/usernamecache.json
build/
libs/*.jar
out/
run/
.claude/worktrees/
dist/
