# OpenComputers access transformer config
public net.minecraft.world.level.block.piston.PistonBaseBlock m_60181_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;Z)Z # moveBlocks
public-f net.minecraft.world.entity.player.Player f_36095_ # inventoryMenu
public-f net.minecraft.world.entity.player.Player f_36093_ # inventory
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58316_ # litTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58317_ # litDuration
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58318_ # cookingProgress
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58319_ # cookingTotalTime
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58650_ # levels
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58652_ # primaryPower
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58653_ # secondaryPower
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58976_ # brewTime
public net.minecraft.world.level.block.entity.SignBlockEntity f_59720_ # messages
public net.minecraft.world.spawner.AbstractSpawner func_190895_g()Lnet/minecraft/util/ResourceLocation; # getEntityId
public net.minecraft.server.MinecraftServer field_110456_c # proxy
public net.minecraft.client.gui.components.AbstractWidget f_93622_ # isHovered
public net.minecraft.server.level.ServerPlayerGameMode f_9249_ # isDestroyingBlock
public net.minecraft.client.renderer.RenderType m_173209_(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;ILnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType; # create